@{
    ViewData["Title"] = "Ticket Counter";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Add a Ticket</p>
@Html.BeginForm()
{
}
<form action="Home/AddData" method="post">

</form>
